# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build
dist/
build/
out/

# IDEs/editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*

# Python virtual envs
venv/
*/venv/
